<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="box">
        <p>
        LITReview
        </p>
        <nav id="menu">
              <ul>
                <li><a href="/">Flux</a></li>
                <li><a href="/posts">Posts</a></li>
                <li><a href="/follow">Abonnements</a></li>
                <li><a href="#deconnexion">Se déconnecter</a></li>
              </ul>
        </nav>
    </div>
    <div id="box_2">
        {% block content_box_3 %}{% endblock %}
    </div>
</body>
</html>