<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Flux</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="box">
        <div id="header">LITReview
            <nav class="menu">
              <ul>
                <li><a href="#flux">Flux</a></li>
                <li><a href="#posts">Posts</a></li>
                <li><a href="#abonnements">Abonnements</a></li>
                <li><a href="#deconnexion">Se déconnecter</a></li>
              </ul>
            </nav>
        </div>
        <div class="box_2">
        <div>
            {% block content_box_3 %}{% endblock %}
        </div>
        </div>
    </div>
</body>
</html>