{% extends 'base.html' %}

{% block title %}
    Me connecter
{% endblock title %}

{% block content_box_3 %}
    <div class="container">
         <div class="row justify-content-center">
         <div class="col-5">
            <h3>Inscrivez-vous maintenant</h3>
                <p>
            <button class="btn btn-outline-secondary" onclick="window.location.href = '{% url 'accounts:register' %}';">S'incrire</button>
                </p>
        </div>
         <div class="col-5">
             <h3>Connectez-vous</h3>
             <form method="post", action="">
                 {% csrf_token %}
                 {{ form.as_p }}
                 <input class="btn btn-outline-secondary" type="submit" value="Se connecter">
             </form>
        </div>
    </div>
{% endblock content_box_3 %}