
ul {
  list-style-type: none;
  display: inline;
}

::placeholder {
  color: black;
  text-align: center;
}

.text {
  font-weight: bold;
  font-size: large;
}

#litreview {
  margin: 10px;
}

input{
  border: 1px solid black;
  width: 250px;
  height: 35px;
}

button{
  width: 100px;
  height: 35px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  position: relative;
}

#inscription {
  margin-left: 50px;
}

#connection {
margin-left: 175px;
}

.text_field {
  margin: 10px;
}

.box {
  text-align: center;
  border: 1px solid black;
}

.box_2 {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid black;
}