
li {
  display: inline;
}

::placeholder, p {
  color: black;
  text-align: center;
}

.text {
  font-weight: bold;
  font-size: large;
}

input{
  border: 1px solid black;
  width: 250px;
  height: 35px;
}

button{
  width: 100px;
  height: 35px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
}


#box {
  border: 1px solid black;
}

#box_2 {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  border-top: none;
}

#box_inscription {
  text-align: left;
}

#box_connection, #menu {
  text-align: right;
}

input {
  width: 100px;
  height: 35px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
}