{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>LITReview</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <p>Page d'accueil</p>
    <div class="box">
        <div id="litreview">LITReview</div>
        <div class="box_2">
            <div class="box_3">
                <p class="text">Inscrivez-vous maintenant</p>
                <button id="inscription">S'incrire</button>
            </div>
            <div class="box_3">
                <p class="text">Connectez-vous</p>
                <input type="text" id="name" class="text_field" required
       minlength="4" maxlength="20" size="50" placeholder="Nom d'utilisateur">
                <input type="text" id="password" class="text_field" required
       minlength="4" maxlength="20" size="50" placeholder="Mot de passe">
                <button id="connexion">Se connecter</button>
            </div>
        </div>
    </div>
</body>
</html>