{% extends 'base.html' %}

{% block title %}
    Me connecter
{% endblock %}

{% block content_box_3 %}
    <div id="box_inscription">
    <h1>Inscrivez-vous maintenant</h1>
    <button id="inscription" onclick="window.location.href = '/inscription';">S'incrire</button>
    </div>
<div id="box_connection">
 <h1>Connectez-vous</h1>
    {{ message }}
 <form method="post", action="">
     {% csrf_token %}
     {{ form.username }}
     {{ form.password1 }}
     {% csrf_token %}
     <button id="connection" onclick="window.location.href = '/content/flux';">Se connecter</button>
 </form>
{% for message in messages %}
<p id="message">{{ message }}</p>
{% endfor %}
</div>
{% endblock %}