{% extends 'base.html' %}
{% block title %}
    Mon flux
{% endblock title %}

{% block content_box_3 %}
 <div>
   <p>
       <button id="ticket" onclick="window.location.href = {% url 'content:ticket' %};">Demander une critique</button>
       <button id="review" onclick="window.location.href = {% url 'content:review' %};">Créer une critique</button>
   </p>
       {% for ticket in tickets %}
           <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ ticket.Titre }}</h5>
                <p class="card-text">{{ ticket.Description }}</p>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="{% url 'content:review' %}" class="btn btn-outline-secondary me-md-2">Créer une critique</a>
                  </div>
              </div>
            </div>

       {% endfor %}
     </div>
</div>
{% endblock content_box_3 %}

