{% extends 'base.html' %}
{% block title %}
    Mon flux
{% endblock title %}

{% block content_box_3 %}
 <div>
   <p>
       {{ message }}
       <button id="ticket" onclick="window.location.href = '/ticket';">Demander une critique</button>
       <button id="review" onclick="window.location.href = '/review';">Créer une critique</button>
   </p>
       {% for ticket in tickets %}
     <div class="card">
       <div class="card-body">
       {{ ticket.title }}
       </div>
       {% endfor %}
     </div>
</div>
{% endblock content_box_3 %}

