{% extends 'base.html' %}

{% block title %}
Suivre d'autres utilisateurs
{% endblock title %}

{% block content_box_3 %}
  <div class="container col-md-4 justify-content-center">
   <h3>Suivre d'autres utilisateurs</h3>
     <div>

     <form method="post", action="">
         {% csrf_token %}
         {{ user_form.as_p }}
         <button class="btn btn-outline-secondary">Envoyer</button>
     </form>
     </div>
    <h3>Abonnements</h3>


      {% for abonne in abonnes %}
           <div class="card">
              <div class="card-body">
                  <p class="card-text"> {{ abonne.abonnements }}</p>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="{% url 'content:unfollow' abonne.id %}" class="btn btn-outline-secondary me-md-2">Se désabonner</a>
                  </div>
              </div>
            </div>

      {% endfor %}
    <h3>Abonnés</h3>
      {% for abonnement in abonnements %}
          <div class="card">
              <div class="card-body">
                  <p class="card-text">{{ abonnement.abonnes }}</p>
                   <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                   </div>
              </div>
            </div>
      {% endfor %}
</div>
{% endblock content_box_3 %}