{% extends 'base.html' %}

{% block title %}
    Mes posts
{% endblock title %}

{% block content_box_3 %}
 <div class="container col-md-4 justify-content-center">
   <h3>
      Vos posts
   </h3>
<div class="container col-md-8 mx-auto">
       {% for ticket in tickets %}
           <div class="card">
              <div class="card-body">
                <p class="card-text">Vous avez publié un ticket <span style="float:right;">{{ ticket.time_created }}</span></p>
                <p class="card-text">{{ ticket.title }}</p>
                <p class="card-text">{{ ticket.description }}</p>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="{% url 'content:ticket_update' ticket.id %}" class="btn btn-outline-secondary me-md-2">Modifier</a>
                    <a href="{% url 'content:ticket_delete' ticket.id %}" class="btn btn-outline-secondary me-md-2">Supprimer</a>
                  </div>
              </div>
            </div>

       {% endfor %}

        {% for review in reviews %}
                   <div class="card">
                      <div class="card-body">
                        <p class="card-text">Vous avez publié une critique <span style="float:right;">{{ review.time_created }}</span></p>
                        <p class="card-text">{{ review.rating }} étoiles</p>
                        <p class="card-text">{{ review.headline }}</p>
                          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                               <a href="{% url 'content:review_update' review.id %}" class="btn btn-outline-secondary me-md-2">Modifier</a>
                               <a href="{% url 'content:review_delete' review.id %}" class="btn btn-outline-secondary me-md-2">Supprimer</a>
                          </div>
                      </div>
                    </div>

               {% endfor %}
</div>
{% endblock content_box_3 %}