{% extends 'base.html' %}

{% block title %}
    Modifier une critique
{% endblock title %}

{% block content_box_3 %}
<div class="box_3">
     <div class="container">
         <div class="row">
             <div class="col-md-8 mx-auto">
                <form method="post", action="">
                    {% csrf_token %}
                   <h3 class="mx-auto" style="width: 400px;">
                       Modifier votre critique
                   </h3>
                    <div class="container border border-dark">
                        <p>Vous en en train de poster en réponse à</p>
                         <div class="card">
              <div class="card-body">
                <p class="card-text">{{ ticket.user }} a demandé(e) une critique <span style="float:right;">{{ ticket.time_created }}</span></p>
                <p class="card-text">{{ ticket.title }}</p>
                <p class="card-text">{{ ticket.description }}</p>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  </div>
              </div>
            </div>
                    </div>

                    <div class="container border border-dark">
                        <p>Critique</p>
                        <div class="row">
                            {{ form.headline.label }}
                            {{ form.headline }}
                            {{ form.rating.label }}
                            {{ form.rating }}
                            {{ form.body.label }}
                            {{ form.body }}
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <input type="submit" class="btn btn-outline-dark" value="Envoyer">
                        </div>
                    </div>
                </form>
             </div>
         </div>
     </div>
</div>
{% endblock content_box_3 %}