{% extends 'base.html' %}

{% block title %}
    Mes critiques
{% endblock title %}

{% block content_box_3 %}
<div class="box_3 mt-4 mb-3">
     <div class="container">
         <div class="row">
             <div class="col-md-8 mx-auto">
                <form method="post", action="">
                    {% csrf_token %}
                   <h3 class="mx-auto" style="width: 400px;">
                       Créer une critique
                   </h3>
                    <div class="container border border-dark mt-3">
                        <p>Livre / Article</p>
                        <div>
                            <div class="row mt-3 text-center">{{ ticket_form.title.label }}</div>
                            <div class="row mt-3 text-center">{{ ticket_form.title }}</div>
                            <div class="row mt-3 text-center">{{ ticket_form.description.label }}</div>
                            <div class="row mt-3 text-center mb-3">{{ ticket_form.description }}</div>
                        </div>
                    </div>

                    <div class="container border border-dark">
                        <p>Critique</p>
                        <div>
                             <div class="row mt-3 text-center">{{ review_form.headline.label }}</div>
                             <div class="row mt-3 text-center">{{ review_form.headline }}</div>
                             <div class="row mt-3 text-center">{{ review_form.rating.label }}</div>
                             <div class="row mt-3">{{ review_form.rating }}</div>
                             <div class="row mt-3 text-center">{{ review_form.body.label }}</div>
                             <div class="row mt-3 text-center">{{ review_form.body }}</div>
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3 mb-3">
                            <input type="submit" class="btn btn-outline-dark" value="Envoyer">
                        </div>
                    </div>
                </form>
             </div>
         </div>
     </div>
</div>
{% endblock content_box_3 %}