{% extends 'base.html' %}

{% block title %}
    Mes critiques
{% endblock title %}

{% block content_box_3 %}
<div class="box_3">
     <div class="container">
         <div class="row">
             <div class="col-md-8 mx-auto">
                <form method="post", action="">
                    {% csrf_token %}
                   <h3 class="mx-auto" style="width: 400px;">
                       Créer une critique
                   </h3>
                    <div class="container border border-dark">
                        <p>Livre / Article</p>
                        <div class="row">
                                {{ ticket_form.title.label }}
                                {{ ticket_form.title }}
                                {{ ticket_form.description.label }}
                                {{ ticket_form.description }}
                        </div>
                    </div>

                    <div class="container border border-dark">
                        <p>Critique</p>
                        <div class="row">
                            {{ review_form.headline.label }}
                            {{ review_form.headline }}
                            {{ review_form.rating.label }}
                            {{ review_form.rating }}
                            {{ review_form.body.label }}
                            {{ review_form.body }}
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <input type="submit" class="btn btn-outline-secondary" value="Envoyer">
                        </div>
                    </div>
                </form>
             </div>
         </div>
     </div>
</div>
{% endblock content_box_3 %}