{% extends 'base.html' %}

{% block title %}
    Mes tickets
{% endblock title %}

{% block content_box_3 %}
 <div class="box_3">
     <div class="container">
         <div class="row">
             <div class="col-md-8 mx-auto">
                <form method="post">
                   <h3 class="mx-auto" style="width: 200px;">
                       Modifier votre ticket
                   </h3>
                     {% csrf_token %}
                     {{ form.as_p }}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <input type="submit" class="btn btn-outline-secondary" value="Envoyer">
                    </div>
                 </form>
             </div>
         </div>
     </div>
</div>
{% endblock content_box_3 %}