{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>LITReview</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <p>Page d'accueil</p>
    <div class="box">
        <div class="box">LITReview</div>
        <div class="box">
            <div class="box_2">
                <p class="box_2">Inscrivez-vous maintenant</p>
                <button>S'incrire</button>
            </div>
            <div class="box_2">
                <p class="box_2">Connectez-vous</p>
                <input type="text" id="name" class="text_field" required
       minlength="4" maxlength="20" size="50" placeholder="Nom d'utilisateur">

            </div>
        </div>
    </div>
</body>
</html>